<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <receiver
            android:name="com.tweener.alarmee.NotificationBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tweener.alarmee.SET_ALARM" />
                <!--                <action android:name="android.intent.action.BOOT_COMPLETED" />-->
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.tweener.alarmee.di.KoinInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>
